snippet temp
	<template name="${1}">
		${2}
	</template>
snippet ngc
	function ${1}($scope){
		${2}
	}
snippet divngc
	<div ng-controller="${1}">
		${2}
	</div>
snippet sc
	$scope
snippet c
	class="${1}"${2}
snippet id
	id="${1}"${2}
